.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
}

.container .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 140px;
    width: 100%;
    background-color: #1d1d1d;
    color: #fff;
    border-bottom: 2px solid #DBBA00;
}

.container .menu .menu-time,
.container .menu .menu-score,
.container .menu .menu-lifes {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.container .menu .menu-lifes img {
    width: 60px;
}

.container .menu .red {
    color: #B30000;
}

.panel {
    margin: auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square {
    width: 150px;
    height: 150px;
    border: 1px solid #f4f4f4;
    background-color: #8FCCB8;
}

.enemy {
    background-image: url("../images/ralph.png");
    background-size: cover;
    background-position: center;
}